.main{
  min-height:100%;
  height:auto !important;
  //padding:35px;
  //background-color: #f6f6f6;
  //background-image:url("../img/main_bg.png");
  //background-repeat: no-repeat;
  //background-position: right top;
}

.main-top__text{
  text-align: center;
  text-transform: uppercase;
  margin-top:85px;
  color: #5c5758;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size:25px;
  //font:;
}
.main-top__text-count{
  color: $color_main_btns;

}
.main-button{
  border:none;
  border-radius: 26px;
  width: 231px;
  height: 53px;
  background-color: $color_main_btns;
  color: #fff;
  font-size:20px;
  text-transform: uppercase;
  margin: 10px auto 74px;
  display: block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height:53px;
  &:hover{
    background-color: $color-main_btns_hover;
  }
}
