.main-offices{
  padding: 0px 35px 35px;
}
.office-banner-wrapper{
  display: block;
  margin: 0 auto;
  position: relative;
  margin-bottom:35px;
  display: flex;
  flex-direction:column-reverse;
  padding-bottom:40px;
  padding-left:35px;
  @media(max-width:650px){
    align-items:center;
    padding-left:0;
    margin-bottom: 100px !important;
  }
  @media(max-width: 650px){
    margin: 0px !important;
  }
}
.office-banner-title{
  font-family:"Proxima Nova",Arial, sans-serif;
  font-weight:bold;
  font-size: 30px;
  color: #fff;
  @media(max-width:600px){
    text-align: center;
  }
}
.offices-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media(max-width:980px){
    justify-content: space-around;
  }
}
.office-img-wrapper{
  margin-bottom:16px;
    img{
      width:100%;
    }
}
.offices-list-item{
  width:350px;
  position: relative;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size:16px;
  color: #6b7676;

    .office-email a{
      color: #5db1a7;
    }
  .office-item-content li{
    margin-top:40px;
      &:last-child{
        border-bottom: 1px solid #ececec;
        padding-bottom: 45px;
      }
  }

  .office-socilas-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
   margin-bottom:70px;
  .socilas-list{
    display: flex;
    width:160px;
    justify-content: flex-end;
      li{
        margin-left: 20px;
      }
  }
  @media(max-width:1170px){
    width:48%;
  }
  @media(max-width:650px){
    margin: auto;
    width:100% !important;
  }
  @media(max-width:600px){

      img{
        width:100%;
      }
  }
}
.office-title{
  font-family: "Proxima Nova Extra Bold", Arial, sans-serif;
  font-size:20px;
  color: #333;
  margin-bottom:15px;
}
.calendar-office-icon{
  width:15px;
  height:15px;
  background: url("../../img/office-event-icon.png");
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.office-event-title{
  color: #6b7676;
  font-family:"Proxima Nova Semibold", Arial, sans-serif;
  font-size:19px;
  margin: 20px 0px;
}
.office-events-item{
  margin-top:25px;
}
.office-more-events{
  font-family:"Proxima Nova", Arial, sans-serif;
  font-size:15px;
    a{
      color: #aabbbb;
    }
}
