.socials-dates-wrapper {
  .all-img {
    margin: auto auto 15px 0;
    font-family: $font-proxima-nova;
    font-size: 14px;
    color: $color-grey;
    a {
      color: $color-grey;
      &:hover {
        color:$color_main_btns;
        span {
          color:$color_main_btns;
        }
      }
    }
    span {
      color:$color-grey-3;
      -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
    i {
      margin-right: 7px;
    }
  }
  .date-time {
    margin: auto 0 15px auto;
    font-family: $font-proxima-nova;
    font-size: 14px;
    color: $color-grey;
    i {
      margin-right: 7px;
    }
  }
}
.wrapper-grid-gallery {
  .item_img-wrap {
    max-height: 265px;
    overflow: hidden;
    margin: 15px 0;
    position: relative;
  }
}
.grid-news-item {
  .news-item_img-wrap {
    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      font-size: 20px;
      color: $color-white;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;    
     img {
      display: block;
     }
    &:hover {
      &::before {
        content: "\f00e";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        z-index: 3;
        top: 45%;
        left: 45%;
      }
      &::after {
        content: '';
        position: absolute;
        background-color: rgba(170,187,187,0.9);
        width: 100%;
        height: 100%;
        z-index: 2;
        display: block;
        top: 0;
        left:0;
      }
    }
  }
}
.item-title {
  a {
    &:hover {
      color:$color_main_btns;
    }
  }
}
}
.float-left {
  float: left !important;
}