.detail-news-wrapper {
	.detail-news {
		font-family: $font-proxima-nova;
		margin-bottom: 30px;
		.img {
			img {
				width: 100%;
			}
			margin-bottom: 20px;
		}
		.title {
			font-weight: 600;
			font-size: 30px;
			color: $color-black-1;
			line-height: 1.2;
			margin-bottom: 10px;
		}
		.text {
			color:$color-grey;
			font-size: 16px;
			line-height: 1.4;
		}
		.socials-dates-wrapper {
			border: none;
			margin-bottom: 25px;
			.socials{
				margin: auto 0 auto auto;
		    width: auto;
		    padding: 0;
		    height: auto;
			}
			.time {
				font-size: 12px;
				color:$color-grey;
			}
		}
	}

	.detail-news-list {
		overflow: hidden;
		.item-news {
			margin-bottom: 35px;
			max-width: 100%;
			.img {
				margin-bottom: 30px;
				img {
					width: 100%;
				}
			}
			.title {
				font-size: 19px;
				color: $color-black-1;
				font-family: $font-proxima-nova;
				font-weight: 900;
				line-height: 1.2;
				margin-bottom: 15px;
			}
			.text {
				font-family: $font-roboto;
				font-style: italic;
				font-size: 14px;
				color:$color-grey;
				ul,ol {
					list-style: disc;
    			list-style-position: inside;
				}
			}
		}
	}
}
/*480*/
@media screen and (min-width:480px) {
	.detail-news-wrapper {
		.detail-news-list {
			.item-news {
				max-width: 48%;
	    	float: left;
				&:nth-child(2n+1) {
					margin-right: 4%;
				}
			}
		}
	}
}

.border-right {
	color:$color-grey;
	font-size: 16px;
	line-height: 1.4;
	margin-left: 25px;
	border-left: 3px solid $color_main_btns;
	padding-left: 20px;
}
.buffer-bottom-30 {
	margin-bottom: $buffer-bottom-30;
}
.back-to-list-link {
	color: $color_main_btns;
	text-transform: uppercase;
	font-size: 14px;
	font-family: $font-proxima-nova;
	display: inline-block;
	&:hover {
		color:$color-main_btns_hover;
	}
	i {
		font-size: 21px;
    position: relative;
    bottom: -2px;
	}
}

.share-block {
	border-top: 1px solid $color-grey-2;
	border-bottom: 1px solid $color-grey-2;
	padding: 21px 0;
	margin: 25px 0;
	overflow: hidden;
	text-align: left;
	.text {
		margin-right: 25px;
		display:block;
		margin-bottom: 15px;
		color:$color-grey-1;
		font-size: 16px;
	}
	ul {
		display: block;
		li {
			float: left;
			margin: 0 10px 10px 0;
			a {
				display: block;
				width: 41px;
				height: 41px;
				color: $color-white;
				border-radius: 50%;
				text-align: center;
    		line-height: 41px;
    		&:hover {
    			transform: rotate(360deg);
    		}
				&.fb {
					background-color: #3b5998;
				}
				&.google{
					background-color: #dc4e41;
				}
				&.linked {
					background-color: #007ab9;
				}
				&.tw {
					background-color: #55acee;
				}
				&.vk {
					background-color: #4d76a1;
				}
			}
		}
	}
}
/*768*/
@media screen and (min-width:$tablet) {
	.share-block {
		text-align: right;
		.text {
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
		}
		ul {
			display: inline-block;
			vertical-align: middle;
			li {
				margin: 0 0 0 10px;
			}
		}
	}
}