.layout-container__sidebar {
	.carduser__wrapper {
		padding: 20px 25px;
		background-color: $color-white;
		margin-bottom: 35px;
		.card-user {
			display: flex;
			margin-bottom: 20px;
			.img {
				max-width: 78px;
				max-height: 78px;
				a {
					display: block;
					img {
						width: 100%;
						height: 100%;
						display: block;
					}
				}
			}
			.text {
				margin: auto auto auto 20px;
				.name {
					font-size: 19px;
					font-weight: bold;
					color:$color-black-1;
					font-family: $font-roboto;
					line-height: 1.1;
				}
				.qualification {
					color:$color-grey-5;
					font-size: 14px;
					line-height: 1;
				}
			}
		}
	}
}
.list-graduate{
	li {
		list-style: none;
		line-height: 1;
		margin-bottom: 22px;
		color:$color-grey-5;
		font-size: 14px;
		position: relative;
		padding-left: 30px;
		&::before {
			content:'';
			background-image: url('../img/icons_profil.png');
			background-repeat: no-repeat;
			width: 1px;
			height: 1px;
			display: block;
			position: absolute;
			left: 0;
			top:-2px;
		}
		&.graduate {
			&::before {
				width: 22px;
				height: 17px;
				background-position: -1px 0;
			}
		}
		&.member-ab {
			&::before {
				width: 18px;
				height: 16px;
				background-position: 0 -18px;
			}
		}
		&.student {
			&::before {
				width: 18px;
				height: 16px;
				background-position: 0 -54px;
			}
		}
		&.guest {
			&::before {
				width: 16px;
				height: 16px;
				background-position: 0 -36px;
			}
		}
	}
}
.man-block__wrapper {
	&.user-card {
		margin-bottom: 0;
		padding: 20px;
		.img {
			position: relative;
			max-width: 108px;
			max-height: 108px;
			min-width: 108px;
			.mail {
				display: block;
		    width: 41px;
		    height: 41px;
		    color: #ffffff;
		    border-radius: 50%;
		    text-align: center;
		    line-height: 39px;
		    font-size: 13px;
		    position: absolute;
		    right: -10px;
    		bottom: 12px;
		    border: 2px solid $color-white;
		    background-color: $color_main_btns;
		    &:hover {
			    	transform: rotate(360deg);
			  }
			}
		}
	}
	.list-graduate {
		margin-right: 45px;
	}
	.social-user {
		list-style: none;
		overflow: hidden;
		margin-top: 10px;
		li {
			float: left;
			margin-right: 20px;
			margin-bottom: 10px;	
			a {
				display: block;
		    width: 31px;
		    height: 31px;
		    color: #ffffff;
		    border-radius: 50%;
		    text-align: center;
		    line-height: 32px;
		    font-size: 17px;
		    &:hover {
		    	transform: rotate(360deg);
		    }
		    &.vk {
					background-color: #4d76a1;
		    }
		    &.fb {
					background-color: #007ab9;
		    }
		    &.linked {
					background-color: #007ab9;
		    }
			}
		}
	}
}
.profile-user__wrapper {
	padding: 0 35px;
	background-color: $color-white;
	.list-graduate__user {
		padding: 25px 0 5px 0;
	  position: relative;
		border-top: 1px solid $color-grey-6;
		border-bottom: 1px solid $color-grey-6;
		.line-js-wrapper {
			display: none;
		}
		.line-graduate {
			flex-wrap: wrap;
			display: flex;
	  	justify-content: space-between;
	  	.item-g {
				display: flex;
				max-width: 170px;
				margin-bottom: 20px;
				.soc-icon {
					margin: auto;
					display: block;
			    width: 36px;
			    height: 36px;
			    color: #ffffff;
			    border-radius: 50%;
			    text-align: center;
			    line-height: 36px;
			    font-size: 16px;
			    margin-right: 15px;
					&.vk {
						background-color: #4d76a1;
					}
				}
				.text {
					margin: auto;
					font-size: 14px;
					color:$color-black-1;
				}
				&:hover {
					.soc-icon {
						transform: rotate(360deg);
					}
			  }
			}
		}
		.more {
			position: absolute;
			bottom: 14px;
			left: 48%;
			color:$color-grey;
			height: 6px;
			width: 11px;
			line-height: 1;
		}
	}
	
	.wrapper__item-profile {
		padding-bottom: 1px;
		margin-top: 40px;
		.item-prof {
			padding-bottom: 1px;
			padding:12px 12px 12px 12px;
			border: 1px solid $color-bg-placeholder;
			margin-bottom: 10px;
			border-radius: 3px;
			&.no-border {
				border: none;
			}
			.title {
				display: block;
				&::before {
					content: ''; 
					width: 19px;
					height: 19px;
					display: inline-block;
					vertical-align: middle;
			    margin-right: 15px;
			    position: relative;
			    top: -2px;
					background-image: url('../img/plus-accord.png');
				}
				&.open {
					&::before {
						background-image: url('../img/minus-accord.png');
					}
				}
			}
			.wrapper-line{
				display: none;
				padding-bottom: 25px;
				p {
					font-size: 14px;
					color:$color-black-1;
					line-height: 1.3;
					margin-top: 25px;
				}
			}
			.line {
				overflow: hidden;
				padding-left: 20%;
				margin-top: 25px;
				.left-l{
					font-size: 14px;
					color:$color-grey-5;
					width: 40%;
					float: left;
				}
				.right-l {
					font-size: 14px;
					color:$color-black-1;
					width: 40%;
					float: left;
				}
			}
		}
	}

}

@media screen and (max-width:480px) {
	.man-block__wrapper {
		.list-graduate {
			margin: 0 auto;
	    max-width: 120px;
		}
		.social-user {
			text-align: center;
			li {
				float: none;
				display: inline-block;
			}
		}
	}
	.profile-user__wrapper {
		.wrapper__item-profile {
			.item-prof {
				.line {
					padding: 0;
					.left-l {
						float: none;
						width: 100%;
						margin-bottom: 5px;
					}
					.right-l {
						float: none;
						width: 100%;
					}
				}
			}
		}
	}
}