/* line 2, ../../sass/about/about.mission.scss */
.mission-wrapper .mission-title {
  font-family: "Proxima Nova Semibold", Arial, sans-serif;
  font-size: 24px;
  color: #333;
  margin-top: 60px;
  margin-bottom: 25px; }
/* line 9, ../../sass/about/about.mission.scss */
.mission-wrapper .mission-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
/* line 14, ../../sass/about/about.mission.scss */
.mission-wrapper li.mission-item {
  width: 364px;
  height: 263px;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 23, ../../sass/about/about.mission.scss */
  .mission-wrapper li.mission-item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
  /* line 31, ../../sass/about/about.mission.scss */
  .mission-wrapper li.mission-item img {
    margin-top: 55px;
    width: 70px;
    height: 70px; }
  /* line 36, ../../sass/about/about.mission.scss */
  .mission-wrapper li.mission-item .mission-item__text {
    color: #fff;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 16px;
    padding: 25px; }
  @media (max-width: 1200px) {
    /* line 14, ../../sass/about/about.mission.scss */
    .mission-wrapper li.mission-item {
      max-width: 49%;
      height: auto; } }
  @media (max-width: 980px) {
    /* line 50, ../../sass/about/about.mission.scss */
    .mission-wrapper li.mission-item:nth-child(odd) {
      margin-right: 10px; } }
/* line 57, ../../sass/about/about.mission.scss */
.mission-wrapper .ms-item1 {
  background: #6b7676; }
/* line 60, ../../sass/about/about.mission.scss */
.mission-wrapper .ms-item2 {
  background: #8ed1bf; }
/* line 64, ../../sass/about/about.mission.scss */
.mission-wrapper .ms-item3 {
  background: #7c8196; }
/* line 68, ../../sass/about/about.mission.scss */
.mission-wrapper .ms-item4 {
  background: #b74b62; }
/* line 72, ../../sass/about/about.mission.scss */
.mission-wrapper .ms-item5 {
  background: #df9eac; }
/* line 76, ../../sass/about/about.mission.scss */
.mission-wrapper .ms-item6 {
  background: #6b7676; }
/* line 80, ../../sass/about/about.mission.scss */
.mission-wrapper .ms-item7 {
  background: #8ed1bf; }
/* line 84, ../../sass/about/about.mission.scss */
.mission-wrapper .ms-item8 {
  background: #b6c4c3; }

/* line 90, ../../sass/about/about.mission.scss */
.mission-item:hover {
  background: transparent; }

/* line 93, ../../sass/about/about.mission.scss */
.img-mission-bg {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  margin-top: 0px !important;
  z-index: -1; }

/*# sourceMappingURL=about.mission.css.map */